body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  padding: 20px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}
input[type="text"],
button {
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.store-note {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
button {
  background-color: #4caf50;
  color: white;
  width: 20vw;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.note-container {
  margin-top: 20px;
  text-align: center;
}
#storedNote {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#message {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #4caf50;
  display: none;
}
.error {
  color: red;
}
